<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yxr.com.myapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--     <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="begin change the world"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"

        >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9e2TCpUUR8xdj4y6oHTBFgn1lE2nQEc7" />

        <activity android:name=".ui.UIActitvty" />
        <activity android:name=".ui.SecondActivity">
            <intent-filter>
                <action android:name="shazi" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="dashazi" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RememberPasswordActivity" />
        <activity android:name=".ui.RecycleListActivity" />
        <activity android:name=".ui.FragActivity" />
        <activity android:name=".ui.NewsActivity" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="yxr.com.myapp.receiver.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="yxr.com.myapp.receiver.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.SqlActivity" />
        <activity android:name=".ui.ContactTestActivity" />

        <provider
            android:name=".ui.MyProvider"
            android:authorities="yxr.com.myapp.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.CameraActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.MedialPlayerActivity" />
        <activity android:name=".ui.WebViewTestActivity" />
        <activity android:name=".ui.HttpUrlConectionTestActivity" />
        <activity android:name=".ui.XMLPullSaxActivity" />

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".ui.TestServiceActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".ui.MapActivity"></activity>
    </application>

</manifest>